.App {
  text-align: center;
  background-image: url("../src/main/css/img/westvirgina.jpg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainDiv {
  background-image: url("./main/css/img/westvirgina.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat-x;
  min-height: 100%;
  height: auto;
  position: relative;
}

.bungalowFormDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bungalowForm {
  background-color: red;
  height: auto;
  width: 120px;
  border: 20px;
  border-color: black;
}

.formGroup {
  background-color: red;
  width: 120px;
  padding: 3px;
  margin: 2px;
}
